@import '../base/listas';

.bodyActividades{
    background-color: nth($colores, 1);

    .tituloActividades {
        font-size: nth($font-size, 4);
        text-align: center;
        background-color: nth($colores, 1);
        color: nth($colores, 3);
        font-weight: 400;
        margin: 2rem;

        @media only screen and (max-width:450px) {
        font-size: 3rem;
        }
    }

    .actividades {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media only screen and (max-width:450px){
            display: flex;
            justify-content: center;
        }

        .articulo {
            width: 40%;
            margin: 2rem;
            border-radius: 10%;
            background-color: nth($colores, 2);
            padding: 2rem;
            margin-bottom: 5rem;
            text-align: center;

            @media only screen and (max-width:450px){
                width: 80%;
            }

            .articuloImg {

                width: 90%;
                height: auto;
                max-width: 50rem;
                max-height: 50rem;
                border-radius: 10%;
            }
            
            .tituloArticulo {
                font-size: nth($font-size, 3);
                color: nth($colores, 3);
                font-weight: 700;

                @media only screen and (max-width:450px){
                    font-size: nth($font-size, 1);
                }
            }
            
            .descripcionActividad {
                font-size: 2rem;
                color: nth($colores, 3);
                text-align: justify;
                padding: 1rem;

                @media only screen and (max-width:450px){
                    font-size: nth($font-size,1);
                }
            }
        }
        .musculacion {
                margin-bottom: 20rem;

                @media only screen and (max-width:450px){
                    margin: 3rem;
                }
        }
            
        .palochino {
                margin-top: 20rem;

                @media only screen and (max-width:450px){
                    margin: 3rem;
                }
        }
            
        .funcional {
                margin-bottom: 30rem;

                @media only screen and (max-width:450px){
                    margin: 3rem;
                }
        }
            
        .tela {
                margin-top: 20rem;
                margin-bottom: 12rem;

                @media only screen and (max-width:450px){
                    margin: 3rem;
                }
        }
        
    }
    
}
